<div class="content-container">
  <div class="table-container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="filter value" #input>
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="yearMonthOfEntry">
        <th mat-header-cell *matHeaderCellDef>Year and Month</th>
        <td mat-cell *matCellDef="let row"> {{row.yearOfEntry}}-{{row.monthOfEntry}} </td>
      </ng-container>
      <ng-container matColumnDef="saleWattHours">
        <th mat-header-cell *matHeaderCellDef>Sale (Wh)</th>
        <td mat-cell *matCellDef="let row"> {{row.saleWattHours}} </td>
      </ng-container>
      <ng-container matColumnDef="purchaseWattHours">
        <th mat-header-cell *matHeaderCellDef>Purchase (Wh)</th>
        <td mat-cell *matCellDef="let row"> {{row.purchaseWattHours}} </td>
      </ng-container>
      <ng-container matColumnDef="productionWattHours">
        <th mat-header-cell *matHeaderCellDef>Production (Wh)</th>
        <td mat-cell *matCellDef="let row"> {{row.productionWattHours}} </td>
      </ng-container>
      <ng-container matColumnDef="consumptionWattHours">
        <th mat-header-cell *matHeaderCellDef>Consumption (Wh)</th>
        <td mat-cell *matCellDef="let row"> {{row.consumptionWattHours}} </td>
      </ng-container>
      <ng-container matColumnDef="selfConsumptionWattHours">
        <th mat-header-cell *matHeaderCellDef>Self-consumption (Wh)</th>
        <td mat-cell *matCellDef="let row"> {{row.selfConsumptionWattHours}} </td>
      </ng-container>
      <ng-container matColumnDef="autarchy">
        <th mat-header-cell *matHeaderCellDef>Autarchy (%)</th>
        <td mat-cell *matCellDef="let row"> {{row.autarchy}} </td>
      </ng-container>
        
      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
      <tr mat-row *matRowDef="let row; let odd = odd; columns: displayedColumns" [class.striped-row]="odd"></tr>
    
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>  
  </div>
</div>
