.striped-row {
    background-color: #ececec;
}

.mat-column {
  border-right: 1px solid currentColor;
}

.mat-column-date {
  width: 107px;
  border-right: 1px solid currentColor;
}

.mat-mdc-form-field {
  width: 100%;
}
