.striped-row {
  background-color: rgb(236, 236, 236)
}

.mat-column {
  border-right: 1px solid currentColor;
}

.mat-column-date {
  width: 107px;
  border-right: 1px solid currentColor;
}

.mat-mdc-form-field {
  width: 100%;
}

.table-container {
  max-height: 95vh;
  overflow: auto;
}

.centered {
  text-align: center;
}

.content-container {
  background-color: rgb(255, 255, 255);
}
