/.idea/compiler.xml
/.idea/encodings.xml
/solar-frontend/.vscode/extensions.json
/.idea/jarRepositories.xml
/solar-frontend/.vscode/launch.json
/solar-backend/.mvn/wrapper/maven-wrapper.jar
/solar-backend/.mvn/wrapper/maven-wrapper.properties
/.idea/misc.xml
/.idea/modules.xml
/solar-backend/mvnw
/solar-backend/mvnw.cmd
/solar-frontend/target/maven-archiver/pom.properties
/.idea/solar.iml
/solar-frontend/target/solar-frontend-1.0.0-SNAPSHOT.jar
/solar-frontend/reports/stylelint-results.html
/solar-frontend/.vscode/tasks.json
/.idea/uiDesigner.xml
/.idea/vcs.xml
/solar-persistence-api/target/
/solar-weather-persistence-api/target/
/solar-weather-backend/.mvn/wrapper/maven-wrapper.properties
/solar-weather-backend/mvnw
/solar-weather-backend/mvnw.cmd
/solar-persistence/.mvn/wrapper/maven-wrapper.properties
/solar-persistence/mvnw
/solar-persistence/mvnw.cmd
/logs/*
