.left {
  float: left;
  width: 194px;
  height: 99%;
  margin: 1px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
}

.right {
  float: left;
  width: calc(100% - 206px);
  height: 99%;
  margin: 1px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
}

.menu-section {
  margin: 1px;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

a:hover {
  font-weight: bold;
}