<div class="left">
  <nav>
  
    <h4 class="centered">Menu</h4>
    
    <div class="menu-section">
      <h4>Dashboard</h4>
      <h5 class="underline">Dashboard</h5>
      <p>
        <a routerLink="/return-on-investment" routerLinkActive="active" ariaCurrentWhenActive="page">Return on investment</a>
        <br>  
        <a routerLink="/energy-sale-compensation" routerLinkActive="active" ariaCurrentWhenActive="page">Compensation energy sales</a>
      </p>
      <br>
    </div>
    
    <div class="menu-section">
      <h4>Diagrams</h4>
      <h5 class="underline">Year over year</h5>
      <p>
        <a [routerLink]="['/year-over-year', 'sale', 'normal']" >Sale</a>
        <br>
        <a [routerLink]="['/year-over-year', 'purchase', 'normal']" >Purchase</a>
        <br>
        <a [routerLink]="['/year-over-year', 'production', 'normal']" >Production</a>
        <br>
        <a [routerLink]="['/year-over-year', 'consumption', 'normal']" >Consumption</a>
        <br>
        <a [routerLink]="['/year-over-year', 'selfconsumption', 'normal']" >Selfconsumption</a>
        <br>
        <a [routerLink]="['/year-over-year', 'autarky', 'normal']" >Autarky</a>
      </p>
      <br>
  
      <h5 class="underline">Accumulated</h5>
      <p>
        <a [routerLink]="['/year-over-year', 'sale', 'accumulated']" >Sale</a>
        <br>
        <a [routerLink]="['/year-over-year', 'purchase', 'accumulated']" >Purchase</a>
        <br>
        <a [routerLink]="['/year-over-year', 'production', 'accumulated']" >Production</a>
        <br>
        <a [routerLink]="['/year-over-year', 'consumption', 'accumulated']" >Consumption</a>
        <br>
        <a [routerLink]="['/year-over-year', 'selfconsumption', 'accumulated']">Selfconsumption</a>      
      </p>
      <br>

      <h5 class="underline">All values</h5>
      <p>
        <a routerLink="/all">Date selection</a>
        <br>
        <a routerLink="/accumulated-all" routerLinkActive="active" ariaCurrentWhenActive="page">All time accumulated</a>
      </p>
      <br>
    </div>
    
    <div class="menu-section">
      <h4>Data</h4>
      <h5 class="underline">Data aggregations</h5>
      <p>
        <a routerLink="/summaryperdayentry" routerLinkActive="active" ariaCurrentWhenActive="page">Per day</a>
        <br>
        <a routerLink="/summarypermonthentry" routerLinkActive="active" ariaCurrentWhenActive="page">Per month</a>
      </p>

      <h5 class="underline">Data import</h5>
      <p>
        <a routerLink="/csv-import" routerLinkActive="active" ariaCurrentWhenActive="page">CSV import</a>
      </p>
      
      <h5 class="underline">Debug</h5>
      <p>
        <a routerLink="/dataexportentry" routerLinkActive="active" ariaCurrentWhenActive="page">Data export entry</a>
      </p>
    </div>
    
  </nav>
  <div class="flex items-center justify-center pt-4">
    <app-google-login-logout></app-google-login-logout>
  </div>
</div>
<div class="right">
  <router-outlet></router-outlet>
</div>
