<div class="left">
  <nav>
  
    <h4>Menu</h4>
    
    <h5>Tables - Data aggregations</h5>
    <p>
      <a routerLink="/summaryperdayentry" routerLinkActive="active" ariaCurrentWhenActive="page">Per day</a>
      <br>
      <a routerLink="/summarypermonthentry" routerLinkActive="active" ariaCurrentWhenActive="page">Per month</a>
    </p>
    <br>
  
    <h5>Diagrams - Year over year</h5>
    <p>
      <a [routerLink]="['/year-over-year', 'production']" >Production</a>
      <br>
      <a [routerLink]="['/year-over-year', 'consumption']" >Consumption</a>
      <br>
      <a [routerLink]="['/year-over-year', 'purchase']" >Purchase</a>
      <br>
      <a [routerLink]="['/year-over-year', 'sale']" >Sale</a>
      <br>
      <a [routerLink]="['/year-over-year', 'selfconsumption']" >Selfconsumption</a>
    </p>
    <br>
  
    <h5>Diagram - Accumulated</h5>
    <p>
      <a routerLink="/accumulated-all" routerLinkActive="active" ariaCurrentWhenActive="page">All values</a>
    </p>
    <br>
  
    <h5>Debug</h5>
    <p>
      <a routerLink="/dataexportentry" routerLinkActive="active" ariaCurrentWhenActive="page">Data export entry</a>
    </p>
    
  </nav>
</div>
<div class="right">
  <router-outlet></router-outlet>
</div>