a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

a:hover {
  font-weight: bold;
}

mat-sidenav-container {
  height: calc(100vh - var(--toolbar-height));
}

.border {
  border-width: 1px;
  border-style: solid;
}

.push-to-right-spacer {
  flex: 1 1 auto;
}

.margin-left {
  margin-left: 5px;
}

.padding {
  padding: 0 5px;
}

