<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/dataexportentry" routerLinkActive="active" ariaCurrentWhenActive="page">dataexportentry</a></li>
    <li><a routerLink="/summaryperdayentry" routerLinkActive="active" ariaCurrentWhenActive="page">summaryperdayentry</a></li>
    <li><a routerLink="/accumulated-all" routerLinkActive="active" ariaCurrentWhenActive="page">accumulated-all</a></li>
    <li><a routerLink="/year-over-year-production" routerLinkActive="active" ariaCurrentWhenActive="page">year-over-year-production</a></li>
  </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
