.mat-mdc-form-field {
  width: 100%;
}

.table-container {
  max-height: 95vh;
  overflow: auto;
}

.centered {
  text-align: center;
}

.content-container {
  margin: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 99%;  
}

.align-right {
  text-align: right;
}

.header {
  background-color: rgb(217, 217, 217);
}

td {
  border-left: 1px solid;
  border-bottom: 1px solid;
}

th {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.table {
  display: flex;
  height: 95%;
}

.padding {
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 5px;
}
