<div class="table">

  <div class="content-container">
    <div class="content-container">
      <canvas
        baseChart
        height="350"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>

    </div>
    <div class="content-container">
        <canvas
          baseChart
          height="350"
          [data]="lineChartDataCumulated"
          [options]="lineChartOptions"
          [type]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
    </div>

    <div class="content-container">
      <div class="table-container-cumulated">

          <table mat-table [dataSource]="dataSourceCumulated" class="mat-elevation-z8" >
            <ng-container matColumnDef="compensationDate">
              <th mat-header-cell *matHeaderCellDef>Compensation date</th>
              <td mat-cell *matCellDef="let row"> {{row.compensationDate}} </td>
            </ng-container>
            <ng-container matColumnDef="compensation">
              <th mat-header-cell *matHeaderCellDef>Compensation (CHF)</th>
              <td mat-cell *matCellDef="let row">{{formatValue(row.compensation)}}</td>
            </ng-container>
            <ng-container matColumnDef="compensationCumulated">
              <th mat-header-cell *matHeaderCellDef>Compensation cumulated</th>
              <td mat-cell *matCellDef="let row"> {{formatValue(row.compensationCumulated)}} </td>
            </ng-container>
            <ng-container matColumnDef="productionYear">
              <th mat-header-cell *matHeaderCellDef>Production year</th>
              <td mat-cell *matCellDef="let row" class="{{oddOrEven(row.productionYear)}}">{{row.productionYear}}</td>
            </ng-container>
            <ng-container matColumnDef="compensationYear">
              <th mat-header-cell *matHeaderCellDef>Compensation year</th>
              <td mat-cell *matCellDef="let row" class="{{oddOrEven(extractYear(row.compensationDate))}}">{{extractYear(row.compensationDate)}}</td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumnsCumulated sticky: true" class="header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCumulated"></tr>
          </table>


      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="table-container">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="compensationdate">
          <th mat-header-cell *matHeaderCellDef>Compensation date</th>
          <td mat-cell *matCellDef="let row"> {{row.compensationDate}} </td>
        </ng-container>
        <ng-container matColumnDef="compensation">
          <th mat-header-cell *matHeaderCellDef>Compensation (CHF)</th>
          <td mat-cell *matCellDef="let row">{{formatValue(row.compensationAmountInMinorUnit)}}</td>
        </ng-container>
        <ng-container matColumnDef="productionyear">
          <th mat-header-cell *matHeaderCellDef>Production year</th>
          <td mat-cell *matCellDef="let row">{{row.productionYear}}</td>
        </ng-container>
        <ng-container matColumnDef="productionfrom">
          <th mat-header-cell *matHeaderCellDef>Production from</th>
          <td mat-cell *matCellDef="let row"> {{row.productionFromDate}} </td>
        </ng-container>
        <ng-container matColumnDef="productionto">
          <th mat-header-cell *matHeaderCellDef>Production to</th>
          <td mat-cell *matCellDef="let row" class="align-right"> {{row.productionToDate}} </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete row</th>
          <td mat-cell *matCellDef="let row" class="align-right">
            <button mat-raised-button (click)="deleteRow(row.id)">Delete</button>
          </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true" class="header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="{{oddOrEven(row.productionYear)}}"></tr>

      </table>
    </div>

    <div>
      <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
        <div class="table">

          <div class="padding">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Compensation date</mat-label>
              <input id="compensationdate" matInput [matDatepicker]="pickercompensationdate" formControlName="compensationdate">
              <mat-datepicker-toggle matIconSuffix [for]="pickercompensationdate"></mat-datepicker-toggle>
              <mat-datepicker #pickercompensationdate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="padding">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Compensation CHF (in minor unit)</mat-label>
              <input id="compensation" type="number" formControlName="compensation" matInput>
            </mat-form-field>
          </div>

          <div class="padding">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Production year</mat-label>
              <input id="productionyear" type="number" formControlName="productionyear" matInput>
            </mat-form-field>
          </div>

          <div class="padding">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Production from</mat-label>
              <input id="productionfrom" matInput [matDatepicker]="pickerproductionfrom" formControlName="productionfrom">
              <mat-datepicker-toggle matIconSuffix [for]="pickerproductionfrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerproductionfrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="padding">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Production to</mat-label>
              <input id="productionto" matInput [matDatepicker]="pickerproductionto" formControlName="productionto">
              <mat-datepicker-toggle matIconSuffix [for]="pickerproductionto"></mat-datepicker-toggle>
              <mat-datepicker #pickerproductionto></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="padding">
            <button type="submit" class="form-button" mat-raised-button [disabled]="formIsInvalid()">Insert new table entry</button>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
