<mat-sidenav-container>
  <mat-sidenav-content class="border">
    <div class="content-container">
      <canvas
        baseChart
        class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="sidenav.toggle()">
      </canvas>
    </div>
    
</mat-sidenav-content>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" class="border" position="end">
    
    <form [formGroup]="inputForm">
        
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Data resolution</mat-panel-title>
          </mat-expansion-panel-header>
            
          <div>
            <label>
              <input type="radio" name="selectionScope" value="month" (change)="setSelectionScope('MONTH')">Month
            </label>
            <br>
            <label>
              <input type="radio" name="selectionScope" value="day" checked="checked" (change)="setSelectionScope('DAY')">Day
            </label>
            <br>
            <label>
              <input type="radio" name="selectionScope" value="hour" (change)="setSelectionScope('HOUR')">Hour
            </label>
            <br>
            <label>
              <input type="radio" name="selectionScope" value="minute" (change)="setSelectionScope('MINUTE')">Minute
            </label>
          </div>
            
        </mat-expansion-panel>
        
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Diagram type</mat-panel-title>
          </mat-expansion-panel-header>
                
          <div>
            <label>
              <input type="radio" name="diagramType" value="line" checked="checked" (change)="setChartType('line')">Line
            </label>
            <br>
            <label>
              <input type="radio" name="diagramType" value="bar" (change)="setChartType('bar')">Bar
            </label>
          </div>
              
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Date selection</mat-panel-title>
          </mat-expansion-panel-header>
                
          <div class="table">   
            <div>
              <div class="table">
                <div>
                  <div>
                    <span>From</span>
                  </div>
                  <div>
                    <span>To</span>
                  </div>
                </div>
                <div>
                  <div>
                    <input id="fromDate" type="date" formControlName="fromDate" (change)="fromDateChange()">
                    <button class="button" type="button" (click)="decreaseMonth('fromDate')">-</button>
                    <button class="button" type="button" (click)="increaseMonth('fromDate')">+</button>
                  </div>
                  <div>
                    <input id="toDate" type="date" formControlName="toDate" (change)="toDateChange()">
                    <button class="button" type="button" (click)="decreaseMonth('toDate')">-</button>
                    <button class="button" type="button" (click)="increaseMonth('toDate')">+</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Shift 1 {{shiftSelectionScope}}</mat-panel-title>
          </mat-expansion-panel-header>
                
          <div>
            <button class="button" type="button" (click)="decreaseMonths()">-</button>
            <button class="button" type="button" (click)="increaseMonths()">+</button>
          </div>   
        
        </mat-expansion-panel>
      </mat-accordion>
      
    </form>
          
  </mat-sidenav>  
</mat-sidenav-container>
