.centered {
  text-align: center;
}

.content-container {
  background-color: rgb(255, 255, 255);
  height: calc(100vh - var(--toolbar-height));
}

.padding {
  padding: 4px;
}

.table {
  display: flex;
}
