.centered {
  text-align: center;
}

.content-container {
  margin: 2px;
  background-color: rgb(255, 255, 255);
  max-height: 80vh;
  min-height: 80vh;
}

.content-container-filter {
  margin: 2px;
  background-color: rgb(255, 255, 255);
  max-height: 10vh;
  min-height: 10vh;
}

.padding {
  padding: 4px;
}

.table {
  display: flex;
}
