spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
        format_sql: true
        generate_statistics: true
        show-sql: true
  datasource:
    url: ${DATASOURCE_URL}
    username: solar
    password: solar
    jpa:
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect

security:
  allowed-email-claim: ${ALLOWED_EMAIL_CLAIM:configure-allowed-email}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:configure-cors-allowed-origins}

server:
  port: 8081

logging:
  file:
    name: logs/persistence.log
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
        session:
          metrics: DEBUG
        statistics: TRACE
        orm:
          jdbc:
            bind: TRACE

springdoc:
  api-docs:
    enabled: ${SPRINGDOC_API_DOCS_ENABLED:false}
  swagger-ui:
    enabled: ${SPRINGDOC_SWAGGER_UI_ENABLED:false}

