.mat-column-date {
  width: 108px;
  border-left: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

.table-container {
  max-height: 83vh;
  overflow: auto;
}

.centered {
  text-align: center;
}

.content-container {
  margin: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.cost {
  background-color: rgb(255, 199, 206);
  text-align: right;
}

.align-right {
  text-align: right;
}

.income {
  background-color: rgb(198, 239, 206);
  text-align: right;
}

.header {
  background-color: rgb(217, 217, 217);
}

td {
  border-left: 1px solid;
  border-bottom: 1px solid;
}

th {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.table {
  display: flex;
}

.padding {
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 5px;
}

button.form-button {
  height: var(--mat-form-field-container-height);
}

