<mat-sidenav-container autosize>
  <mat-sidenav-content class="border">

    <div class="content-container">
      <canvas
        baseChart
        class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="sidenav.toggle()">
      </canvas>
    </div>

  </mat-sidenav-content>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" class="border" position="end">
  
    <div class="content-container">

      <div class="table-container">
        <table mat-table [dataSource]="dataSourceTotals" class="mat-elevation-z8">
          <ng-container matColumnDef="totals">
            <th mat-header-cell *matHeaderCellDef>Totals</th>
            <td mat-cell *matCellDef="let row"></td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>Cost (CHF)</th>
            <td mat-cell *matCellDef="let row" class="cost">{{row.cost}}</td>
          </ng-container>
          <ng-container matColumnDef="income">
            <th mat-header-cell *matHeaderCellDef>Income (CHF)</th>
            <td mat-cell *matCellDef="let row" class="income">{{row.income}}</td>
          </ng-container>
  
          <!-- Header and Row Declarations -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsTotals sticky: true" class="header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTotals"></tr>
        </table>
      </div>
     
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let row" class="cost">{{getValueIfNegative(row.amountInMinorUnit, row.amountIsPositive)}}</td>
          </ng-container>
          <ng-container matColumnDef="income">
            <th mat-header-cell *matHeaderCellDef>Income</th>
            <td mat-cell *matCellDef="let row" class="income">{{getValueIfPositive(row.amountInMinorUnit, row.amountIsPositive)}}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>
          <ng-container matColumnDef="saldo">
            <th mat-header-cell *matHeaderCellDef>Saldo</th>
            <td mat-cell *matCellDef="let row" class="align-right"> {{formatValue(row.saldo)}} </td>
          </ng-container>
          <ng-container matColumnDef="deltaSinceStart">
            <th mat-header-cell *matHeaderCellDef>Delta</th>
            <td mat-cell *matCellDef="let row" class="align-right"> {{formatValue(row.deltaSinceBegin)}} </td>
          </ng-container>
          <ng-container matColumnDef="numberOfYearsUntilPaid">
            <th mat-header-cell *matHeaderCellDef>Years until paid</th>
            <td mat-cell *matCellDef="let row" class="align-right"> {{row.numberOfYearsUntilPaid}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row" class="align-right">
              <button mat-raised-button (click)="openEditDialog(row.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-raised-button (click)="deleteRow(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          
          <!-- Header and Row Declarations -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true" class="header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
      </div>
      
      <div>
        <button mat-raised-button (click)="openCreateDialog()">New entry</button>
      </div>
    </div>

  </mat-sidenav>
</mat-sidenav-container>