<mat-sidenav-container autosize>
  <mat-sidenav-content>

    <div class="content-container">
      <canvas
        baseChart
        class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="sidenav.toggle()">
      </canvas>
    </div>

  </mat-sidenav-content>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" position="end">

    <div class="content-container">

      <div class="table-container">
        <table mat-table [dataSource]="dataSourceTotals" class="mat-elevation-z8">
          <ng-container matColumnDef="totals">
            <th mat-header-cell *matHeaderCellDef>Totals</th>
            <td mat-cell *matCellDef="let row"></td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>Cost (CHF)</th>
            <td mat-cell *matCellDef="let row" class="cost">{{row.cost}}</td>
          </ng-container>
          <ng-container matColumnDef="income">
            <th mat-header-cell *matHeaderCellDef>Income (CHF)</th>
            <td mat-cell *matCellDef="let row" class="income">{{row.income}}</td>
          </ng-container>

          <!-- Header and Row Declarations -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsTotals sticky: true" class="header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTotals"></tr>
        </table>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let row" class="cost">{{getValueIfNegative(row.amountInMinorUnit, row.amountIsPositive)}}</td>
          </ng-container>
          <ng-container matColumnDef="income">
            <th mat-header-cell *matHeaderCellDef>Income</th>
            <td mat-cell *matCellDef="let row" class="income">{{getValueIfPositive(row.amountInMinorUnit, row.amountIsPositive)}}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>
          <ng-container matColumnDef="saldo">
            <th mat-header-cell *matHeaderCellDef>Saldo</th>
            <td mat-cell *matCellDef="let row" class="align-right"> {{formatValue(row.saldo)}} </td>
          </ng-container>
          <ng-container matColumnDef="deltaSinceStart">
            <th mat-header-cell *matHeaderCellDef>Delta</th>
            <td mat-cell *matCellDef="let row" class="align-right"> {{formatValue(row.deltaSinceBegin)}} </td>
          </ng-container>
          <ng-container matColumnDef="numberOfYearsUntilPaid">
            <th mat-header-cell *matHeaderCellDef>Years</th>
            <td mat-cell *matCellDef="let row" class="align-right"> {{row.numberOfYearsUntilPaid}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <input
                [ngModel]="checked()"
                (ngModelChange)="checked.set($event)"
                id="actions"
                type="checkbox"
                name="actions"     
              />
              <button mat-raised-button (click)="openCreateDialog()" [hidden]="isHidden()">
                <mat-icon>add_box</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let row" class="align-right">
              <button mat-raised-button (click)="openEditDialog(row.id)" [hidden]="isHidden()">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-raised-button (click)="deleteRow(row.id)" [hidden]="isHidden()">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Header and Row Declarations -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true" class="header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
       
        </table>
        
      </div>
    </div>

  </mat-sidenav>
</mat-sidenav-container>
