.mat-column-date {
  border-left: 0;
}

.mat-column-totals {
  border-left: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

.table-container {
  max-height: 100%;
  overflow: auto;
}

.align-left {
  text-align: left;
}

.content-container {
  background-color: rgb(255, 255, 255);
  height: calc(100vh - var(--toolbar-height));
}

.cost {
  background-color: rgb(255, 199, 206);
  text-align: center;
}

.align-right {
  text-align: right;
}

.income {
  background-color: rgb(198, 239, 206);
  text-align: center;
}

.header {
  background-color: rgb(217, 217, 217);
}

td {
  border-left: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
}

th {
  border-left: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
}

.table {
  display: flex;
}

.padding {
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 5px;
}
