// You can add global styles to this file, and also import other style files //

html {
  height: 100%;
  --toolbar-height: 40px;
  --mat-table-header-headline-size: 8px;
  --mat-table-row-item-label-text-size: 8px;
  --mat-table-header-container-height: 36px;
  --mat-table-footer-container-height: 32px;
  --mat-table-row-item-container-height: 32px;
  --mat-toolbar-standard-height: var(--toolbar-height);
  --mat-toolbar-mobile-height: var(--toolbar-height);
}

.mat-mdc-cell {
  padding: 0 1px !important;
}

.mat-mdc-header-cell {
  padding: 0 1px !important;
}

body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel-body {
  padding: 0 6px 10px !important;
}