// You can add global styles to this file, and also import other style files //
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
  height: 100%;
  --toolbar-height: 30px;
  --mat-toolbar-title-text-size: 15px;
  --mat-table-header-headline-size: 8px;
  --mat-table-row-item-label-text-size: 8px;
  --mat-table-header-container-height: 25px;
  --mat-table-footer-container-height: 32px;
  --mat-table-row-item-container-height: 20px;
  --mat-toolbar-standard-height: var(--toolbar-height);
  --mat-toolbar-mobile-height: var(--toolbar-height);
}

.mat-mdc-cell {
  padding: 0 1px !important;
}

.mat-mdc-header-cell {
  padding: 0 1px !important;
}

.mat-expansion-panel-body {
  padding: 0 6px 10px !important;
}

@media only screen and (min-width: 2000px) {
  html {
    --toolbar-height: 40px;
    --mat-toolbar-title-text-size: 25px;
    --mat-table-header-headline-size: 16px;
    --mat-table-row-item-label-text-size: 16px;
    --mat-table-header-container-height: 36px;
    --mat-table-footer-container-height: 32px;
    --mat-table-row-item-container-height: 32px;
  }

  .mat-mdc-header-cell {
    padding: 0 4px !important;
  }

  .mat-mdc-cell {
    padding: 0 4px !important;
  }

  .mat-expansion-panel-body {
    padding: 0 16px 10px !important;
  }
}
