.striped-row {
  background-color: rgb(236, 236, 236);
}

.mat-column {
  border-right: 1px solid currentColor;
}

.mat-column-date {
  white-space: nowrap;
}

.mat-mdc-form-field {
  width: 100%;
}

.table-container {
  height: calc(100vh - var(--toolbar-height));
  overflow: auto;
}

.content-container {
  background-color: rgb(255, 255, 255);
}

td {
  text-align: center;
}

th {
  text-align: center;
}
