.striped-row {
    background-color: #ececec;
}

.mat-column {
    border-right: 1px solid currentColor;
}

.mat-column-date {
    width: 107px;
    border-right: 1px solid currentColor;
}

.mat-mdc-form-field {
    width: 100%;
}

.table-container {
    max-height: 95vh;
    overflow: auto;
}

.centered {
    text-align: center;
}

.contentContainer {
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: white; 
}
