.valueTable {
    width: 100%;
}

.tableHeader {
    border-style: solid;
    border-color: black;
    background-color: white;
}

.tableRow:nth-child(even) {
    background-color: lightgreen;
}

.tableRow:nth-child(odd) {
    background-color: lightblue;
}

.tableHeaderCell {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}

.tableCell {
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}

.centered {
    text-align: center;
}

.diagramContainer {
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
}

.tableContainer {
    margin: 1px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;  
}
