<div>
  <h4 class="centered">{{menuTitle}}</h4>
</div>
<div class="diagramContainer">
  <canvas
    baseChart
    class="chart"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [type]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas>
</div>
<div class="tableContainer">
  <table class="valueTable">
    <tr class="tableHeader">
      <th class="tableHeaderCell" *ngFor="let columnName of displayedColumns">
        {{ columnName }}
      </th>
    </tr>
    <tr class="tableRow" *ngFor="let row of tableRows" > 
      <td class="tableCell" *ngFor="let column of row">
        {{ column }}
      </td>
    </tr>
  </table>
</div>
