<div>
  <h4 class="centered">{{menuTitle}}</h4>
</div>
<div class="diagram-container">
  <canvas
    baseChart
    class="chart"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [type]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas>
</div>
<div class="table-container">
  <table class="value-table">
    <tr class="table-header">
      <th class="table-header-cell" *ngFor="let columnName of displayedColumns">
        {{ columnName }}
      </th>
    </tr>
    <tr class="table-row" *ngFor="let row of tableRows" > 
      <td class="table-cell" *ngFor="let column of row">
        {{ column }}
      </td>
    </tr>
  </table>
</div>
