.content-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  overflow: auto;
}

td {
  border-right: 1px solid;
  border-bottom: 1px solid;
}

th {
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.table {
  display: flex;
  max-height: 100%;
  min-height: 100%;
}
