.content-container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: max-content;
  width: 100%;
  overflow: auto;
}

.content-container-top {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: max-content;
  width: 100%;
  overflow: auto;
}

.content-container-bottom {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: max-content;
  width: 100%;
  overflow: auto;
}

table {
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

th {
  border-bottom: 1px solid;
  border-right: 1px solid;
  text-align: center;
}

td {
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.table {
  display: flex;
  max-height: 100%;
  min-height: 100%;
}

.striped-row {
  background-color: rgb(236, 236, 236);
}

.header {
  background-color: rgb(217, 217, 217);
}

.section {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

